* {
  margin: 10px;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: #777;
}
